services:
 mongo:
  image: mongo
  ports:
  - 27017:27017

 backend:
  build:
   context: ./
   dockerfile: Dockerfile

  environment:
   - DB_URL=mongodb://mongo-service:27017/
  ports:
   - 3000:3000
  depends_on:
   - mongo
  